@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* common elements */
*{
    padding: 0;
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
}
img{
    vertical-align: top;
}
a{
    text-decoration: none;
}
ul,ol{
    padding-left: 0;
}
li{
    list-style: none;
}
body{
    background-color: black;
    color: #fff;
}
.none{
    display: none;
}
.flex{
    display: flex;
}
.container{
    max-width: 1780px;
    padding: 0 50px;
    box-sizing: border-box;
}
/* detail top */
.detail-bg{
    background: url('');
}
.detail-main{
    justify-content: space-between;
    border-bottom: 1px solid #707070;
    padding: 50px 0;
    font-size: 18px;
}
.detail-txt:not(img){
    align-self: center;
    width: 40%;
    color: #e0e0e0;
}
.detail-txt > img{
    width: 468px;
    height: 87px;
}
.detail-img{
    max-width: 340px;
    height: 490px;
    align-self: center;
}
.detail-img img{
    width: 100%;
    height: 100%;
}
.movie-info span{
    display: inline-block;
    align-self: center;
}
.movie-info span:not(:first-child){
    margin-left: 0.4em;
}
.movie-info span:first-child{
    height: 33px;
}
.movie-info img{
    height: 100%;
}
.info-box{
    padding: 2px 8px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    box-sizing: border-box;
}
.subs button{
    padding: 1.5rem 5rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 24px;
}
.subs > span{
    margin-left: 1.6rem;
    align-self: center;
    cursor: pointer;
}
.subs svg{
    width: 42px;
    height: 42px;
    
}
.subs span *{
    display: block;
    text-align: center;
}
.mv-info span{
    display: inline-block;
    margin-left: 1rem;
}

/* detail list */
.detail-vod{
    padding-left: 60px;
}
.vod-list{
    /* overflow: hidden; */
    /* flex-wrap: nowrap; */
}
.vod-list li:not(:first-of-type){
    margin-left: 20px;
}
.vod-list li img{
    width: 246px;
    height: 350px;

}
.vod-list li{
    /* width: 100%; */
    /* position: relative; */
    
}
.swiper-container{
    position: relative;
    overflow: hidden;
}
.swiper-slide{
    max-width: 246px;
    width: 100%;
}
.list-txt{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #707070;
    cursor: pointer;
    height: 100%;
    opacity: 0;
}