@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* common elements */
*{
    padding: 0;
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
}
img{
    vertical-align: top;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background-color: black;
}
.none{
    display: none;
}

/* detail pages */
