* {
  margin: 0;
  padding: 0;
} 

html {
  font-size: calc(6px + .5vw);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #d9d9d9;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.33rem;
}
a:hover {
  color: #fff
}

p {
  font-family: "Noto Sans KR", sans-serif;
}

button {
  background: none;
  border: none;
}

.bold {
  font-weight: 700;
}

.red {
  color: #ff153c
}

#container {
  height: 500px
}

.violet {
  background: violet;
  height: 100%;
}

 
 #ko-header {
  background: #000;
  width: 100%;
  height: 5.83rem;
  display: flex;
  padding: 0 4rem 0 3rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10000;
 }


  /* 헤더 좌측 */

 #ko-header .ko-header-left {
  display: flex;
  height: 70%;
 }

.ko-h1 {
  font-size: 0px;
  margin-right: 1.8vw;
 }

 .ko-h1 a {
  display: block;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .ko-h1 a img {
  height: 100%
 }

 #ko-header .ko-header-left .ko-header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  font-size: 1.7rem;
 }


 /* 헤더 우측 */

.ko-header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.2em;
  height: 100%;
}

.ko-header-right li {
  height: 2.33rem;
  width: 2.33rem;
}

.ko-header-right .ko-btn-search button {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.ko-header-right .ko-btn-search button img {
  width: auto;
  height: 100%;
}

.ko-header-right .ko-btn-account {
  transition: all 0.1s linear;
  position: relative;
}
.ko-header-right .ko-btn-account:after {
  content:'';
  position: absolute;
  width: 200%;
  height: 200%;
  left: -1em;
  top: -.8em;
}

.ko-header-right .ko-btn-account img {
  cursor: pointer;
  height: 100%;
}

/* 헤더 검색창 */

.ko-dimmed {
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  z-index: -2;
  display: none;
}

.ko-search-area {
  position: fixed;
  z-index: -1;
  left:0;
  top: 0;
  width: 100%;
  height: 60rem;
  max-height: 100%;
  background: #191919fc;
  padding: 5.583rem;
  box-sizing: border-box;
  display: none;
}

.ko-search-area .ko-search-box {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 3.75em 0 1em;
  border-bottom: 2px solid #fff;
  margin-bottom: 50px;
}

.ko-search-area .ko-search-box input {
  height: 100%;
  width: calc(100% - 3rem);
  outline: none;
  border-width: 0px;
  background: transparent;
  font-size: 2em;
  font-weight: 400;
  color: #fff
}

.ko-search-area .ko-search-box button {
  position: absolute;
  bottom: 1em;
  right: 0;
  margin: 0;
  width: 2.75em;
  height: 2.75em;
  cursor: pointer;
}
.ko-search-area .ko-search-box button img {
  width: 90%;
}

.ko-search-area .ko-search-bottom {
  display: flex;
  color: #dedede;
  height: 75%;
}

.ko-search-area .ko-search-bottom > ul {
  height: 100%;
  width: 100%
}
.ko-search-area .ko-search-bottom .ko-search-title {
  font-size: 1.67rem;
  font-weight: 700;
  margin-bottom: 1.67rem;
}
.ko-search-area .ko-search-bottom .ko-search-content {
  margin: .75rem 0;
  font-size: 1.335rem;
  color: #dedede;
  opacity: 0.7;
  line-height: 1.5;
}

.ko-search-area .ko-search-bottom .ko-search-popular {
  padding-left: 3.35em;
  border-left: 1px solid #2e2e2e;
}

.ko-search-area .ko-search-bottom .ko-search-popular span {
  margin-right: 2.5rem;
}


.ko-search-time {
  display: inline-block;
  font-size: 1.17rem;
  margin-top: 1.5rem;
  color: #646464;
}



/* 헥더 프로필 */

.ko-account-area {
  position: absolute;
  right: 3.89rem;
  top: 5.83rem;
  background: #212121;
  border: 1px solid #4d4d4d;
  min-width: 20rem;
  box-shadow: 0px 5px 10px 0 rgba(0,0,0,0.5);
  padding: 1.5rem 0 1.167rem; 
  z-index: 1000;
  display: none;
}

.ko-account-area .ko-account-top {
  display: flex;
  align-items: center;
  height: 30%;
  padding: 0 1.667rem;
  box-sizing: border-box;
}

.ko-account-area .ko-account-top .ko-account-img {
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  border-radius: 4px;
}

.ko-account-area .ko-account-top .ko-account-img img {
  border-radius: 0.5em;
  height: 100%;
}

.ko-account-area .ko-account-top .ko-account-profile {
  height: 100%;
  width: 75%;
  margin-left: 1em;
  font-size: 1.2rem;  
}

.ko-account-area .ko-account-top .ko-account-profile .name {
  font-size:1.25rem; 
  color: #fff;
  cursor:default;
}


.ko-account-area .ko-account-top .ko-account-profile button {
  padding-top: 0.33rem;
  font-size: 1rem;
  color: #a3a3a3;
  cursor: pointer;
}

.ko-account-area .ko-account-top .ko-account-profile button:hover {
  color: rgba(255,255,255,0.7);
}


.ko-account-area .ko-account-bottom {
  border-top: 1px solid #2e2e2e;
  margin-top: 1.17rem;
  padding-top: 1.17rem;
}

.ko-account-area .ko-account-bottom li {
  box-sizing: border-box;
  padding: .8em 2em;

}

.ko-account-area .ko-account-bottom li:hover {
  background: #2e2e2e;

}

.ko-account-area .ko-account-bottom li a {
  display: block;
  color: #a3a3a3;
  font-size: 1.25rem;
}

.ko-account-area .ko-account-bottom li:hover a {
  color: #fff;
}

/* 푸터 */

#ko-footer {
  background-color: #000;
  padding: 2em 5em;
}

#ko-footer .footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
  white-space: nowrap;
}

#ko-footer .footer_top ul {
  display: flex;
  gap: 1.67rem;
  flex-wrap: wrap;
}

#ko-footer .footer_top .footer_link{
  line-height: 10%;
}

#ko-footer .footer_top a {
  display: block;
  color: #a3a3a3;
  font-size: 1.25rem;
}

#ko-footer .footer_top a:hover {
  color: #fff;
}

#ko-footer .footer_top ul.footer_short {
  gap: 3vw;
  flex-wrap: nowrap;
}

#ko-footer .footer_short li:first-child {
  /* border-left: 1px solid #fff; */
  position: relative;
}

#ko-footer .footer_short li:first-child:after {
  content:'';
  width: 1px;
  height: 80%;
  background: #fff; 
  position: absolute;
  right: -1.5vw;
  top: .2vw;
}


/* 푸터 정보 */

#ko-footer .footer_copyright {
  margin-bottom: 2em;
}

#ko-footer .footer_copyright p, #ko-footer .footer_copyright a {
  font-size: 1.08rem;
  color: #6e6e6e
}

#ko-footer .footer_copyright p {
  line-height: 170%;
}

#ko-footer .footer_copyright span {
  margin-right: 1vw;
  position: relative;
  word-break: break-all;
}

#ko-footer .footer_copyright span::after {
  content:'';
  position: absolute;
  right: -.6vw;
  top: .35vw;
  width: 1px;
  height: 60%;
  background: #2e2e2e;
}

#ko-footer .footer_copyright span:last-child:after {
  display: none
} 

/* 푸터 sns */

#ko-footer .footer_copyright span a {
  text-decoration: underline;
}

#ko-footer .footer_sns {
  margin-bottom: 1em;
}

#ko-footer .footer_sns ul {
 display: flex;
 gap: 1rem;
}

#ko-footer .footer_sns ul li {
  width: 2.5rem;
  height: 2.5rem;
}

#ko-footer .footer_sns ul li svg {
  width: 100%;
  height: 100%;
}

#ko-footer .footer_sns li:hover svg path {
  fill: rgba(255, 255, 255, .8) !important
}

/* 푸터 저작권 */

#ko-footer .footer_right p {
  color: #6e6e6e;
  font-size: 1.08rem;
}






@media (max-width: 1280px) {

  #ko-header .ko-header-left .ko-header-btn {
    font-size: 1.3rem;
  }

  #ko-footer .footer_sns ul li {
    width: 3rem;
    height: 3rem;
  }

  
}



@media (max-width: 768px) {
  /* html {
    font-size: 1vw;
  } */

  #ko-header  {
    padding: 0 1.33rem;
  }

  #ko-header .ko-header-left .ko-header-btn {
    font-size: 1rem;
  }

  /* 헥더 프로필 */

  .ko-account-area {
    position: absolute;
    right: 1.33rem;
    top: 5rem;
    background: #212121;
  }


  /* 푸터 */
  #ko-footer {
    padding: 2.5rem 1.33rem;
  }
  
  
}