body {
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    text-decoration: none;
}

.sun-logosize{
    width: 6rem;
}

.padding1{
    padding: 3rem;
}

#logo{
    cursor: pointer;
}

.icons{
    width: 1.5em;
    border-radius: 5px;
}


.button-silver{
    color: silver !important;
    border: 1px solid silver !important;
    min-width: 20em !important;
}

.button-silver h5{
    width: 30em;
    margin: 0;
    text-align: center;
}

.button-silver:hover{
    background: none;
    border: 1px solid white;
}

.text-silver{
    color: silver;
}

.bg-movies{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), url(https://image.tving.com/public/user/images/pc-img@2x.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    animation: zoom 10s linear forwards;
    height: 400px;
}

.footer-bottom{
    margin-top: 30em;
}

h5{
    margin: 0;
}


@keyframes zoom {
    0%{
        background-size: 110% auto;
    }
    100%{
        background-size: 100% auto;
    }
}

@media (max-width: 767px) {

    .sun-logosize{
        width: 5rem;
    }
    h5{
        font-size: .8em;
    }
    .afont{
        font-size: .8em;
    }
    .padding1{
        padding: 1rem;
      }
  }
  